$nav_height :60px;
$body_h:calc(100vh - 60px);
$quizW: 520px;

@font-face {
    font-family: Estandar;
    src: url("../fonts/Estandar-Regular.ttf");
  }

* {
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    font-family:"Estandar";
}

body {
    background: transparent linear-gradient(1deg, #1C011B 0%, #5D083C 100%) 0% 0% no-repeat padding-box;
    height:100vh;
}

.quizes_div {
    width:260px;
    background:#fff;
    border-radius:5px;
}

.main {
    display:grid;
    grid-template-columns:30% 70%;
    justify-items:space-between;
}

.quiz_list {
    width:300px;
    height:$body_h;
    background:#00ff00;
}

.create_quiz {
    display:grid;
    gap:10px;
}

/*.create_quiz .category_select {
    width:$quizW;
    height:30px;
    background:#fff;
    position:relative;
    border-radius:5px;
    display:grid;
    align-content:center;
}

.create_quiz > *{
    color:#3C4568;
    text-indent:15px;
    font:14px;
    font-weight:700;
}

.category_select ul {
    display:none;
    background:#fff;
    width:100%;
    position:absolute;
    top:30px;
    //display:grid;
}

.category_select ul li {
    height:25px;
    align-self:center;
    
}

.category_select ul li:hover {
    background:#eee;
}

// .create_quiz input {
//     width: $quizW;
//     height:30px;
//     border:none;
//     border-radius:5px;
//     text-indent:15px;
// }*/

.quiz_question {
    width:$quizW;
    background:#242B4C;
    border-radius:5px;
    display:grid;
    grid-template-rows:10% 40% 40% 10%;
    justify-items:center;

    &> div {
        display:grid;
        width:$quizW;

        &:first-child {
            grid-template-columns:33% 33% 33%;
            background:red;
        }

        &:nth-child(2) {
            textarea {
                width:80%;
                height:80%;
                justify-self:center;
                align-self:center;
                resize:none;
                background:#242B4C;
                color:#fff;
                padding:15px;
                border:none;
            }
        }

        &:nth-child(3) {
            grid-template-columns:50% 50%;
            
            input {
                justify-self:center;
                align-self:center;
                width:200px;
                height:40px;
                background:#202F53;
                color:#fff;
                border:3px solid #0E476D;
                text-indent:15px;
            }
        }

        &:nth-child(4) {
            width:160px;
            height:40px;
            padding-left:30px;
            align-items:center;
            background:#141C2E;
            color:#fff;
            border-radius:50px;
            font-weight:700;
        }
    }
}